<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="CMConnectionString" connectionString="Data Source=localhost;Initial Catalog=CM;Persist Security Info=True;User ID=sa;Password=admmaster"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

	<system.web>
		<globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="pt-BR" />
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" maxQueryStringLength="2097151" maxUrlLength="10999" targetFramework="4.0" />
		<sessionState mode="InProc" cookieless="false" timeout="99999" />
		<customErrors mode="Off" />
		<!--<customErrors defaultRedirect="View/Error/Error.html" mode="RemoteOnly" />-->
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<appSettings>
		<add key="Empresa" value="" />
	</appSettings>

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
				<!--50000000 max length json stringfy-->
			</webServices>
		</scripting>
	</system.web.extensions>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
